@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/*
#cc6b6b
#bb5050
#cc6b6b
*/
* {
  margin: 0;
  border: 0;
}
body {
  background: rgb(36, 26, 26);
}
.header {
  /* background: #cc6b6b; */
  display: flex;
  justify-content: center;
  color: rgb(255, 104, 78);
  font-size:xx-large;
  margin: 0 0.5em 0 .05em;
  padding: 1em 0 1em 0;
  text-align: center;
  border-bottom: 1px solid rgb(138, 28, 9);
}
.heading:hover {
  color: yellow;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  background: rgb(200, 20, 20);
  opacity: 0.75;
  /* position: sticky; */
  top: 0;
  cursor: pointer;
  overflow: hidden;
  /* margin: 1em auto; */
}
.nav-list {
  display: flex;
  align-items: center;
  /* width: 50%; */
  /* margin: 1em auto; */
}
.nav-list li {
  list-style: none;
  padding: 1em;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  /* font-size: 15px; */
  font-family: "Ubuntu", sans-serif;
}
.nav-list li a:hover {
  color: rgb(255, 255, 0);
  font-size: 17px;
  /* font-weight: bold; */
}
.sec-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #cc6b6b; */
  color: #ffffff;
  margin: 1em auto;
  padding: 2em;
}
.sec-1 span{
  color: rgb(200, 20, 20);
}
.sec-1 h2 {
  padding: 0.25em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.sec-1 p {
  font-size: xx-large;
}
.sec-2 {
  padding: 3em;
  color: #ffffff;
  /* justify-content: center; */
  /* background: #cc6b6b; */
  margin: 1em auto;
}
.sec-1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-1 
.second-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-1 img{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 3em;
  min-width: 10em;
}
.sec-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-2 h2 {
  padding: 1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.sec-2 .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-2 img {
  width: 20%;
  margin: 1.5em;
  padding: 10px;
  background: rgb(50, 50, 50);
}
.sec-2 img:hover {
  background: #d8c2c2;
  opacity: 0.75;
}
.sec-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* background: #cc6b6b; */
  margin: 1em auto;
}
.sec-3 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-3 .first-div a {
  margin: 0.5em;
  padding: 0.1em;
  font-size: 7em;
  color: rgb(255, 255, 255);
}
.sec-3 .second-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-3 h2 {
  padding: 1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.sec-3 .first-div #i1:hover {
  color: #0077b5;
}
.sec-3 .first-div #i2:hover {
  color: #dd2a7b;
}
.sec-3 .first-div #i3:hover {
  color: #1da1f2;
}
.sec-3 .first-div #i4:hover {
  color: #211f1f;
}
.sec-4 {
  color: #ffffff;
  /* background: #cc6b6b; */
  height: 100%;
}
.sec-4 h2 {
  padding: 1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}

.sec-4 .first-div {
  max-width: 62%;
  margin: 1em auto;
}

.form-input {
  margin: 14px 0;
  /* padding: 5px 13px; */
  width: 100%;
  font-size: 20px;
  background-color:#d4bfbf;
  border: 2px solid rgb(51, 28, 28);
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sec-4 .btn {
  padding: 8px 20px 10px;
  margin: 8px 3px 80px;
  background-color:#d4bfbf;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serify;
  font-weight: bold;
}
.sec-4 .btn:hover {
  background-color: rgb(197, 200, 20);
}
.text-footer {
  border-top: 1px solid rgb(138, 28, 9);
  text-align: center;
  padding: 2em 1em 2em 1em;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}
.heads{
  color:rgb(255, 0, 0);
}
.heads:hover{
  color:rgb(255, 255, 255);
}
hr{
  border-top: 1px solid rgb(66, 15, 6);
}