@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(36, 26, 26);
  background-blend-mode: darken;
}
.header {
  /* background: #cc6b6b; */
  display: flex;
  justify-content: center;
  color: rgb(255, 104, 78);
  font-size: 1.7em;
  /* margin: 0 0.5em 0 0.5em; */
  padding: 1em 0 1em 0;
  text-align: center;
  border-bottom: 1px solid rgb(95, 23, 10);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  /* background: rgb(200, 20, 20); */
  opacity: 0.8;
  /* position: sticky; */
  top: 0;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid rgb(138, 28, 9);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list li {
  list-style: none;
  padding: 1em;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  padding: 0 0.5em 0 0.5em;
  font-family: "Ubuntu", sans-serif;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0);
}
.nav-list li a:hover {
  color: rgb(255, 255, 0);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.sec-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #cc6b6b; */
  color: #ffffff;
  margin: 1em auto;
  padding: 2em;
}
.sec-1 span {
  color: rgb(200, 20, 20);
}
.sec-1 h2 {
  padding: 0.25em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.sec-1 p {
  font-size: xx-large;
}
.sec-2 {
  padding: 3em;
  color: #ffffff;
  /* justify-content: center; */
  /* background: #cc6b6b; */
  margin: 1em auto;
}
.sec-1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-1 .second-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-1 img {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 3em;
  min-width: 10em;
}
.sec-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-2 h2 {
  padding: 1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.sec-2 .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sec-2 img {
  width: 20%;
  margin: 1.5em;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  transform: 0.5s;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.sec-2 img:hover {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.sec-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* background: #cc6b6b; */
  margin: 1em auto;
}
.sec-3 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-3 .first-div a {
  margin: 0.25em;
  padding: 0em 0.1em 0em 0.1em;
  border-radius: 15px;
  font-size: 7em;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  background-size: cover;
}
.sec-3 .second-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-3 h2 {
  padding: 1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.sec-3 .first-div #i0:hover {
  color: #dd2a2a;
  box-shadow: 0 0 50px #dd2a2a;
  transition-delay: 0.05s;
}
.sec-3 .first-div #i1:hover {
  color: #0072b1;
  box-shadow: 0 0 50px #0072b1;
  transition-delay: 0.05s;
}
.sec-3 .first-div #i2:hover {
  color: #dd2a7b;
  box-shadow: 0 0 50px #dd2a7b;
  transition-delay: 0.05s;
}
.sec-3 .first-div #i3:hover {
  color: #1da1f2;
  box-shadow: 0 0 50px #1da1f2;
  transition-delay: 0.005s;
}
.sec-3 .first-div #i4:hover {
  color: #7d12ff;
  box-shadow: 0 0 50px #7d12ff;
  transition-delay: 0.05s;
}
.soci {
  align-items: center;
  padding: 2em;
}
.sec-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-4 .heads {
  padding: 1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.container .card {
  position: relative;
  height: 20em;
  margin: 60px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transform: 0.5s;
}
.container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.container .card .content h2 {
  position: absolute;
  top: -50px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.container .card .content h3 {
  font-size: 2em;
  color: #ffffff;
  font: "Ubuntu", sans-serif;
  font-weight: 600;
  z-index: 1;
}
.container .card .content p {
  font-size: 1em;
  color: #ffffff;
}
.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.container .card .content a:hover {
  color: #ffffff;
  background: rgba(255, 0, 0, 0.5);
}
.text-footer {
  border-top: 1px solid rgb(138, 28, 9);
  text-align: center;
  padding: 2em 1em 2em 1em;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  color: white;
}
.heads {
  color: rgb(255, 0, 0);
}
/* .heads:hover {
  color: rgb(255, 255, 255);
} */
hr {
  border-top: 1px solid rgb(66, 15, 6);
}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}
.up {
  color: rgb(255, 0, 0);
  text-decoration: none;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  background: rgb(36, 26, 26);
  margin-right: 1em;
  margin-top: 1em;
  padding: 0.5em 0.25em 0.1em 0.25em;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 50%;
}
.up:hover {
  color: #ffffff;
  background: #dd2a2a;
}
